<div class="center-row">
    <slot />
</div>

<style>
    .center-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
</style>
