---
import ActionSection from "./ActionSection.astro";
---

<style>
  h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    height: 100%;
  }

  label {
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
  }

  input[type="email"] {
    width: 100%;
    margin: 0;
    height: auto;
    outline: none;
    padding: 10px;
    text-indent: 0%;
    padding: 10px;
  }

  .button {
    color: white;
    font-size: 1rem;
    padding: 5px;
    display: block;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    font-family: inherit;
    background-color: black;
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }
</style>

<ActionSection>
  <form
    action="https://marsatuva.us6.list-manage.com/subscribe/post?u=e4373a6764c06e5221396c3b9&id=12e1c200fd&f_id=004809e3f0"
    method="post"
    target="_blank"
    novalidate
  >
    <h3>Subscribe to the MARS Newsletter</h3>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address *</label>
      <input
        type="email"
        name="EMAIL"
        id="mce-EMAIL"
        class="required email"
        required
      />
    </div>

    <!-- Honeypot anti-bot field -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input
        type="text"
        name="b_e4373a6764c06e5221396c3b9_12e1c200fd"
        tabindex="-1"
        value=""
      />
    </div>

    <input type="submit" name="subscribe" class="button" value="Subscribe" />
  </form>
</ActionSection>
