<!-- MAILCHIMP SIGNUP FORM COMPONENT -->

<link
  href="https://cdn-images.mailchimp.com/embedcode/classic-061523.css"
  rel="stylesheet"
  type="text/css"
/>

<style>
  #mc_embed_signup {
    background: #fff;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 8px;
  }
</style>

<div id="mc_embed_signup">
  <form
    action="https://marsatuva.us6.list-manage.com/subscribe/post?u=e4373a6764c06e5221396c3b9&id=12e1c200fd&f_id=004809e3f0"
    method="post"
    target="_blank"
    novalidate
  >
    <h2>Subscribe to the MARS Newsletter</h2>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address *</label>
      <input
        type="email"
        name="EMAIL"
        id="mce-EMAIL"
        class="required email"
        required
      />
    </div>

    <!-- Honeypot anti-bot field -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input
        type="text"
        name="b_e4373a6764c06e5221396c3b9_12e1c200fd"
        tabindex="-1"
        value=""
      />
    </div>

    <input type="submit" name="subscribe" class="button" value="Subscribe" />
  </form>
</div>
