<!-- MAILCHIMP SIGNUP FORM COMPONENT -->
<link
  href="https://cdn-images.mailchimp.com/embedcode/classic-061523.css"
  rel="stylesheet"
  type="text/css"
/>

<style>
  #mc_embed_signup {
    background: #fff;
    font: 14px;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
  }

  #mc_embed_signup h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  #mc_embed_signup .button {
    color: white;
    font-size: 1rem;
    padding: 5px;
    display: block;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    font-family: inherit;
  }

  #mc_embed_signup label {
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
  }

  #mc_embed_signup .mc-field-group {
    width: 100%;
  }

  #mc_embed_signup input[type="email"] {
    width: 100%;
    margin: 0;
    height: auto;
    outline: none;
    padding: 10px;
    text-indent: 0%;
  }

  #mc_embed_signup .button:hover {
    transform: scale(1.02);
  }
</style>

<div id="mc_embed_signup">
  <form
    action="https://marsatuva.us6.list-manage.com/subscribe/post?u=e4373a6764c06e5221396c3b9&id=12e1c200fd&f_id=004809e3f0"
    method="post"
    target="_blank"
    novalidate
  >
    <h2>Subscribe to the MARS Newsletter</h2>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address *</label>
      <input
        type="email"
        name="EMAIL"
        id="mce-EMAIL"
        class="required email"
        required
      />
    </div>

    <!-- Honeypot anti-bot field -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input
        type="text"
        name="b_e4373a6764c06e5221396c3b9_12e1c200fd"
        tabindex="-1"
        value=""
      />
    </div>

    <input type="submit" name="subscribe" class="button" value="Subscribe" />
  </form>
</div>
